[submodule "extern/vaios"]
	path = extern/vaios
	url = https://github.com/ragnar-vallhala/vaios.git
[submodule "vtest"]
	path = vtest
	url = https://github.com/ragnar-vallhala/vtest.git
[submodule "navlink"]
	path = navlink
	url = https://github.com/ragnar-vallhala/navlink.git
